$text-blue: #0880AE;
$text-black: #2C2738;
$text-light-black: #756F86;
$text-white: #FFFFFF;
$text-light-blue: #7C9CBF;
$text-gray: #B1B5BF;
$bg-white: #FFFFFF;
$bg-light-blue: #EBF4F8;
$button-gray: #DBE2EA;
$button-blue: #0880AE;
$border-grey: #DBE2EA;
