$text-blue: #0880ae;
$text-black: #2c2738;
$text-light-black: #756f86;
$text-white: #ffffff;
$text-light-blue: #7c9cbf;
$text-gray: #b1b5bf;
$text-error: #ff7171;
$bg-white: #ffffff;
$bg-light-blue: #ebf4f8;
$button-gray: #dbe2ea;
$button-blue: #0880ae;
$border-grey: #dbe2ea;
$border-blue: #0880ae;
