.login-form {
  width: auto;
  max-width: 460px;
  margin: 0 auto;
  border-radius: 24px;
  padding-top: 38px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.login-form__fieldset {
  border: none;
}

.login-form__title {
  padding-top: 40px;
  padding-left: 18px;
  font-size: 37px;
  letter-spacing: normal;
  font-weight: 700;
  line-height: 34px;
}

.login-form__text {
  padding: 0;
  margin: 0;
  padding-top: 9px;
  padding-left: 18px;
  display: flex;
  justify-content: flex-start;
}

.login-form__link {
  color: $text-blue;
  padding-left: 4px;
  text-decoration: none;
}

.login-form__list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  padding-top: 56px;
}

.login-form__item:not(:last-child) {
  display: flex;
  width: auto;
  margin-left: 18px;
  margin-right: 18px;
  flex-direction: column;
  padding-bottom: 35px;
}

.login-form__item:last-child {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.login-form__item {
  position: relative;
  width: auto;
  margin-left: 30px;
  margin-right: 30px;
}

.login-form__label {
  margin-bottom: 7px;
  color: $text-light-black;
  font-weight: 300;
}

.login-form__input::placeholder {
  color: $text-light-blue;
}

.login-form__input {
  border-radius: 6px;
  border: 1px solid $border-grey;
  padding: 16px 16px 15px;
  color: $text-black;

  &:focus,
  &:hover {
    border: 2px solid $border-blue;
    box-shadow: 0 4px 8px rgba(44, 39, 56, 0.04);
    padding: 15px 15px 14px;
  }

  &:active {
    border: 2px solid $border-blue;
  }
}

.login-form__checkbox-label {
  padding-left: 25px;

  &::before {
    content: "";
    position: absolute;
    bottom: 50%;
    left: -10px;
    width: 28px;
    height: 28px;
    box-sizing: border-box;
    border: solid 1px $border-grey;
    border-radius: 4px;
    background-color: transparent;
    transform: translateY(50%);
  }

  &:hover::before {
    border: 2px solid $border-blue;
  }
}

.login-form__checkbox:checked + .login-form__checkbox-label::before {
  border: 2px solid $border-blue;
}

.login-form__checkbox {
  display: none;
}

.login-form__check-icon {
  display: none;
  position: absolute;
  fill: $button-blue;
  bottom: 50%;
  left: -8px;
  transform: translateY(50%);
  z-index: -1;
}

.login-form__checkbox:checked ~ .login-form__check-icon {
  display: block;
  fill: $button-blue;
}

.login-form__button {
  border: none;
  margin: 40px 18px 30px;
  width: 92%;
  padding-top: 18px;
  padding-bottom: 20px;
  border-radius: 6px;
  background-color: $button-blue;
  color: $text-white;
  box-shadow: 0 2px 4px rgba(44, 39, 56, 0.08), 0 4px 8px rgba(44, 39, 56, 0.08);

  &:disabled {
    background-color: $button-gray;
    color: $text-gray;
  }

  &:hover {
    box-shadow: 0 12px 24px rgba(44, 39, 56, 0.08), 0 24px 48px rgba(44, 39, 56, 0.16);
  }

  &:active {
    border: 2px solid rgba(44, 39, 56, 0.86);
    padding-top: 16px;
    padding-bottom: 18px;
  }
}

.login-form__dropdown-icon {
  position: absolute;
  right: 15px;
  top: 50px;
  fill: $button-blue;
}

.login-form__text-warning {
  position: absolute;
  bottom: 0;
  left: 18px;
  color: $text-error;
  font-size: 14px;
  line-height: 18px;

  &--checkbox {
    bottom: -36px;
  }
}
